/**************************************************************************
 * Copyright © 2026 Bangladeshi Software Ltd. All rights reserved.
 * Distributed under the license terms specified in this repository.
 *
 * ORIGINAL AUTHOR: Muhammad Nasim (Developer)
 **************************************************************************/

.eye {
  cursor: pointer;
  transition: 'all 0.3s ease-in-out';
}
.eye:hover {
  opacity: 0.7;
}
